#para1
{
text-align:center;
color:red;
} 

#north
{
text-align:center;
color:FFF8DC;
} 

#south
{
text-align:center;
color:00BFFF;
} 

#east
{
text-align:center;
color:FF4500;
}
#west
{
text-align:center;
color:008080;
}

h3
{

text-align:center;
background-color:996600;

}
i
{

font-size:20px;
color:cc0033;
}

body
{
background-color:E9967A;
}
p
{
color:996600;
}

h4
{
color:380000;
}
